<section class='d-flex flex-wrap about'>
   <div id='about-head'>
      <h2>About Me</h2>
   </div>
   <article class='text-start about-body'>
      <p>
         <span class="indent"></span>
         Hello, I am Josh. I am an Appian Low Code Developer with a web development background. I've been developing with the Appian platform since January of 2021, and web development history going as far back as 2014.
      </p>
      <p>
         <span class="indent"></span>
         I love computers, and all things that make them run. I spent my formative years in high school learning Business Webpage design, HTML5, and CSS. In addition I covered more application-based development such as c#, c++, and Unity script. I single handedly 3d modeled, animated, and developed a homemade Star Wars video game during my senior year.
      </p>
      <p><span class="indent"></span>
         I especially love the front-end development, and being able to make things look good. I have studied Digital Media and it's basics as well as 3d modeling, and animation.
      </p>
      <p>
         <span class="indent"></span>
         I completed the University of Utah Coding Bootcamp in January of 2021. I learned the MERN Stack. I'm very excited to build my practical experience! I'm proficient in full stack development with a preference for front-end, and I'm a quick learner.
      </p>
      <p>
         <span class="indent"></span>
         My career in tech began as a Data Analyst with Pronexis. Soon after I was hired on as a Tech Support Associate at Infosys where I remain. After starting, I quickly learned various new technologies including Java, Python, Angular, AWS, and finally Appian. Through Infosys I was assigned to a role with Capital Group as an Appian Solutions Engineer.
      </p>
   </article>
</section>